body {
  margin: 0;
}

.container {
  margin: auto;
  display: flex;
  justify-content: center;
}

.animations {
  font-size: 4rem;
  margin-top: 100px;
  text-shadow: 60px 60px 4px red, -60px -60px 4px blue, -60px 60px 4px green, 60px -60px 4px brown;
  transition: 2s;
}

.animations:hover {
  text-shadow: -60px 60px 4px blue, 60px 60px 4px green, 60px -60px 4px brown, -60px -60px 4px red;
}