body {
  margin: 0;
}

.container {
  margin: auto;
  width: 1200px;
  height: 1000px;
  background: gray;
  margin-top: 20px;
  position: relative;
}

.caja {
  width: 50%;
  height: 50%;
  position: absolute;
  background: red;
}

.c1 {
  top: 0;
  left: 0;
  background: green;
}

.c2 {
  top: 0;
  right: 0;
  background: blue;
}

.c3 {
  bottom: 0;
  left: 0;
  background: pink;
}

.c4 {
  bottom: 0;
  right: 0;
  background: purple;
}

.c5 {
  top: 25%;
  left: 25%;
  background: orange;
}

.caja:hover {
  z-index: 1;
}
